@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@theme {
    --color-primary: #4ed0e2;
    --color-color2: #1d1d1d;
    --color-color2-light: #e9f4fa;
    --color-bg: #121212;
}